<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, viewport-fit=cover">

        <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    
        <meta name="description" content="{% block description %}{{ config.description }}{% endblock description %}" />

        <link rel="stylesheet" href="{{ get_url(path="style.css") | safe }}" />

        {% if is_404 or page.extra.hidden %}
        <meta name="robots" content="noindex, follow" />
        {% else %}
        <meta name="robots" content="index, follow" />
        {% endif %}

        {% if current_url %}
        <link rel="canonical" href="{{ current_url | safe }}">
        {% endif %}

        {% block extra_head %}
        {% endblock extra_head %}
    </head>
    <body class="bg-gray-500">
        {% include "partials/nav.html" %}
        <main class="min-h-screen">
            {% block content %}{% endblock content %}
        </main>
        {% include "partials/footer.html" %}
    </body>
</html>